.advantures{
    min-height: 473px;
    padding: 70px 0 65px 0; 
    background-color: $bg_color;
    &__items{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 65px;
        /*width: 960px;*/
    }
    &__item{
        width: 270px;
    }
    
    &__icon{
        display: block;
        margin: 0 auto;
        &_animated{
            animation: heartbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
        &_animation{
            animation: run 1.5s alternate;
        }
    }
    &__descr{
        margin-top: 30px;
        h3{
            color: $text-color;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
        }
        p{
            margin-top: 20px;
            color: $text-color;
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;
            span{
                color: $accent_text_color;
                font-size: 14px;
                font-weight: 300;
                line-height: 18px;
                text-decoration: underline;
            }
        }
    }
}